.faq{
    max-width: 900px;
    margin: 6rem auto;
    padding-top: 1rem auto;
}

.faq_title{
    text-align: center;
    font-size: 2.1rem;
}

.faq_subtitle{
    text-align: center;
    margin: 2rem 0 3rem 0;
    color: #555;
}

.faq_item{
    background: #e0e0e0;
    border-radius: 12px;
    margin-bottom: 1.2rem;
    padding: 1rem 1.5rem;
    box-shadow: 0 4px 8px rgba(0,0,0,.15);
}

.faq_item summary{
    list-style: none;
    cursor: pointer;
    font-weight: 500;
    position: relative;
}

.faq__item summary::-webkit-details-marker {
  display: none;
}

.faq__item summary::after {
  content: "▾";
  position: absolute;
  right: 0;
  transition: transform .3s ease;
}

.faq__item[open] summary::after {
  transform: rotate(180deg);
}

.faq__item p {
  margin-top: 2rem;
  color: #333;
  line-height: 1.6;
}