.cta{
    display: inline-block;
    background-color: #FF6E6E;
    color: white;
    padding: 12px 24px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    margin: 32px;
}

.cta:hover{
    transform: translateY(-2px) scale(1.02);
    background-color: #FF5151;
    box-shadow: 0 5px 15px rgba(230, 91, 91, 0.4);
}
