.product-hero{
    padding-top: 80px;
    padding-bottom: 80px;
    background-color: #E8D9DD;
    text-align: center;
}

.product-page h1{
    padding-bottom: 47px;
}

.product-page{
    text-align: center;
}